*{

margin:  0px;
padding: 0px; 
/*color: white;*/
text-align:center;

}  

p {
    color:black;
}

h2 {
    color:black;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

h3 {
    color:black;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}


.top-bar{
  float:right;
}

.menu{
height: 50px;
}

.menu li{

  display:block;
  height:50px;
  width: 125px;
  float: left;
  line-height: 50px;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color:black; 

  position:relative;
  z-index:999;

}


body {
  padding: 0;
  margin: 0;
  font-family:'Open Sans', sans-serif;
  background-color:white;
  
}

.mission-etc p{
    padding-right: 15%;
    padding-left: 15%;
}
    

.header {
  position: relative;
  height : 600px;
  width:100%;
  background-image:;
  background-size: ;
  background-attachment: fixed;
  margin-bottom: 150px;
  font-family: 'Cinzel', serif;
  font-weight: 700;

}

.header-title {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  color: black;

}

a:link{
text-decoration: none;
    color:black;

}
a:visited {
    text-decoration: none;
    color:black;
}    

#carol{
    background-image: url(background1.jpg);
    height:9000px;
    width:100%;
    background-size:cover;
    background-position: center center;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 0px;
    float: right;
    margin-bottom: 200px;
    background-attachment: fixed;
}
    
    
.carol-text{
    font-size: 20px;
    text-align: center;
    color:black;
    padding-right: 15%;
    padding-left: 15%;

}

.STHLM p{
    color:black;
    font-size: 20px;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
    margin-bottom: 20px;
    
}
    

#team { 
    width:100%;
    padding-left:300px;
    padding:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:0px;
    font-family: 'Open Sans', sans-serif;
   
   
}

.section-title{
    width:100%;
    justify-content:center;
    align-items:center;
    margin-top:60px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.profile-circles { 
    width:100%;
    padding-left:300px;
    padding:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:60px;
    margin-top:50px;
}

.profile-pic{
    height:130px;
    width:130px;
    margin:10px;
    border-radius: 50%;
}

.profile-pic.natalie{
    background-image: url(natalie.jpg);
    background-position: center center;
    background-size:cover;
}

.profile-pic.henry{
    background-image: url(henry.jpg);
    background-position: center center;
    background-size:cover;
    
}

.profile-pic.sehmar{
    background-image: url(sehmar.jpg);
    background-position: center center;
    background-size:cover;
    
}

.profile-pic.oz{
    background-image: url(OZ.JPG);
    background-position: center center;
    background-size:cover;
    
}  
  

#contact{
color:black;

}

p {
    color:black;
    margin-bottom: 50px;
}

#content a:link{
    color:black;
}
